* {
    font-family: 'Roboto', sans-serif;
    color:#969696;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 1px;
    word-spacing: 1px;
    line-height: 120%;
    text-align: left;
    text-transform: uppercase;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    padding:0;
    margin:0;
}

html {
    scroll-behavior: smooth;
}

@keyframes swing {
    20% {
      -webkit-transform: rotate3d(0, 0, 1, 15deg);
      transform: rotate3d(0, 0, 1, 15deg);
    }
  
    40% {
      -webkit-transform: rotate3d(0, 0, 1, -10deg);
      transform: rotate3d(0, 0, 1, -10deg);
    }
  
    60% {
      -webkit-transform: rotate3d(0, 0, 1, 5deg);
      transform: rotate3d(0, 0, 1, 5deg);
    }
  
    80% {
      -webkit-transform: rotate3d(0, 0, 1, -5deg);
      transform: rotate3d(0, 0, 1, -5deg);
    }
  
    to {
      -webkit-transform: rotate3d(0, 0, 1, 0deg);
      transform: rotate3d(0, 0, 1, 0deg);
    }
  }

/*HEADER*/

header {
    background: url('../imagenes/background-header.jpg') ;
    background-size: cover;
    background-position: center; 
    height: 100vh;
}

.h1-heading {
    font-size: 0;
    text-align:center;    
}

.logo {
    width: 50%;
}

.nav-menu{
    position: sticky;
    top: 0;
}

body div header nav ul {
    width:40%;
    text-align: center;
    padding: 0.1rem;
    background: rgba(255,255,255,0.3);
    margin:auto;
    border-radius:35px;
}

body div header nav ul li {
    display: inline-block;
    text-align: center;
    margin: 0.5rem;
    transition: all 0.3s;
}

body div header nav ul li:hover{
    transform: scale(1.1);
}

body div header nav ul li a {
    font-size: 20px;
}

body div header nav ul li a i {
    font-size: 25px;
    margin: 10px;
}

/*BODY*/

.body-bg {
    background: rgba(40,28,30,1);
    background: -moz-linear-gradient(top, rgba(40,28,30,1) 0%, rgba(82,82,82,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(40,28,30,1)), color-stop(100%, rgba(82,82,82,1)));
    background: -webkit-linear-gradient(top, rgba(40,28,30,1) 0%, rgba(82,82,82,1) 100%);
    background: -o-linear-gradient(top, rgba(40,28,30,1) 0%, rgba(82,82,82,1) 100%);
    background: -ms-linear-gradient(top, rgba(40,28,30,1) 0%, rgba(82,82,82,1) 100%);
    background: linear-gradient(to bottom, rgba(40,28,30,1) 0%, rgba(82,82,82,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#281c1e', endColorstr='#525252', GradientType=0 );
}

h2 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 2rem;
    font-weight: 600;
}

/* SHOWS */

#shows{
    width: 75%;
    vertical-align: top;
    display:inline-block;
    margin-top:30px;
}

#upcoming-shows{
    text-align: center;
}

ol li {
    font-size:1.5rem;
    margin: 1rem;
}

.shows-calendar {
    font-size:2rem;
    transition: all 0.3s;
}

.shows-calendar:hover{
    transform: scale(1.1);
}

.fecha {
    font-size:1.5rem;
    margin: 0 10px;
}

.swing {
    -webkit-transform-origin: top center;
    transform-origin: top center;
    -webkit-animation-name: swing;
    animation-name: swing;
  }

.shows-tickets {
    font-size: 1rem;
    
    animation-name: swing;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: 3s;
    animation-play-state: paused;
}

.show-tickets:hover{
    animation-play-state: running;
}

.get-tickets {
    padding: 5px;
    font-size: 1rem;
}

/* SPOTIFY */

.spotify-playlist {
    width: 25%;
    display:inline-block;
    text-align: center;
    vertical-align: top;
    margin-top:30px;
}

/* YOUTUBE */

.video-title {
    text-align: center; 
    margin: 30px 0 30px;
}

#youtube-playlist {
    text-align: center;
}

/* STORE */

#store {
    background: #FFF;
    margin-top: 20px;
}

.store-products {
    text-align: center;
    vertical-align: center;
}

.store-title {
    margin: 30px 0 0 20px;
    padding: 0 0 10px 0;
    display: inline-block;
}

.products {
    width:200px;
    margin: 10px 20px 30px 20px;
    display:inline-block;
    text-align:center;
    transition: all 0.3s;
}

.products:hover{
    transform: scale(1.1);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3)
}


.prod-title{
    font-weight: 500;
    font-size: 14px;
    margin: 5px;
    text-align:center;
}

.prod-price {
    font-weight: 400;
    margin: 7px;
    text-align: center;
}

.prod-button {
    text-align: center;
    height: 25px;
    width: 100px;
    background: red;
    border-radius: 20px;
    padding: 3px;
    margin:auto;
    transition: all 0.1s;
}

.prod-button:hover {
    transform: scale(1.1);
    background: rgb(173, 0, 0);
} 

.prod-img {
    width: 100%;
    height: 100%;
}

.next-prod {
    font-size: 40px;
}

/* FOOTER */
#footer{
    background: rgba(40,28,30,1);
}

.logo-footer{
    width: 20%;
    margin: 10px 30px;
}

.nav-social{
    margin-left: 40px;
}

.social-icons{
    margin: 3px;
    color:#FFF;
}

.social-network {
    color: #FFF;
    font-size: 12px;
}

.copyright {
    text-align: center;
    font-size: 10px;
    padding:7px;
}